base-page-layout($m-top, $m-bottom, $m-outer, $m-inner)
  margin-top:     $m-top
  margin-bottom:  $m-bottom
  margin-right:   '-epubx-expr(page-number % 2 == 0 ? %s : %s)' % ($m-inner $m-outer)
  margin-left:    '-epubx-expr(page-number % 2 == 0 ? %s : %s)' % ($m-outer $m-inner)
  width: ($page-width - $m-outer - $m-inner)
  height: ($page-height - $m-top - $m-bottom)
  overflow: visible


@media screen
  body
    margin: auto 2.55in
    font-size: 10pt
    overflow-x: hidden

  h1
    margin: 8mm 0 2mm 0

  section
    clear: both

section
  page-break-before: always
  page-break-after: always

section#chapter-1
  page-break-before: left

h1, h2, h3
  break-after: avoid

pre
  break-inside: avoid

@page
  size: $page-width $page-height
  bleed: $page-bleed

@-epubx-page-template

  .column-span
    -epubx-flow-into column-span

  .component, .api
    break-inside: avoid

  .page-outer-area
    position: relative

  .pull-right
    left: ($page-margin-outer - $page-margin-inner)

  .pull-left
    left: ($page-margin-inner - $page-margin-outer)

    & > p
      margin: 3mm 0

  .postscript-wrapper
    height: $page-height - $page-margin-top - $page-margin-bottom


@-epubx-page-master

  @-epubx-partition
    -epubx-enabled: '-epubx-expr(page-number % 2 == 0)' % ()
    content: counter(page)
    width: 8mm
    height: 8mm
    font: $nombre-font
    bottom: 4mm
    left: 12mm
    border-radius: 2px
    text-align: right
    background-color: #ddd6d4
    color: #ffffff

  @-epubx-partition
    -epubx-enabled: '-epubx-expr(page-number % 2 == 1)' % ()
    content: counter(page)
    width: 8mm
    height: 8mm
    font: $nombre-font
    bottom: 4mm
    right: 12mm
    border-radius: 2px
    background-color: #ddd6d4
    color: #ffffff


  @-epubx-partition body
    -epubx-flow-from: body
    //column-count: 2
    column-width: 60mm
    column-gap: $body-column-gap
    base-page-layout(
      $page-margin-top,
      $page-margin-bottom,
      $page-margin-left,
      $page-margin-right)

  @-epubx-partition column-span
    -epubx-flow-from: column-span
    column-span: all
