base-page-layout($m-top, $m-bottom, $m-outer, $m-inner)
  margin-top:     $m-top
  margin-bottom:  $m-bottom
  margin-right:   '-epubx-expr(page-number % 2 == 0 ? %s : %s)' % ($m-inner $m-outer)
  margin-left:    '-epubx-expr(page-number % 2 == 0 ? %s : %s)' % ($m-outer $m-inner)
  width: ($page-width - $m-outer - $m-inner)
  height: ($page-height - $m-top - $m-bottom)
  overflow: visible


@media screen
  body
    margin: auto 2.55in
    font-size: 10pt
    overflow-x: hidden

  h1
    margin: 8mm 0 2mm 0

  section
    clear: both

article#html5, article#css_de_animation,
article#npm, article#vue, article#react,
article#docker
  page-break-before: always
  page-break-after: always

h1, h2, h3
  break-after: avoid

pre, tr, th, td
  break-inside: avoid

//article#html5, article#css_de_animation,
//article#npm, article#vue, article#react,article#docker
:root
  column-count: 2
  column-gap: $body-column-gap
  widows: 1
  orphans: 1

.one-column
  column-span: all

article.font_awesome
  page-break-before: always
  page-break-after: always
  float-reference: column
  float: block-start
  -ah-float: bottom multicol

section#introduction,
nav#toc,
section#postscript,
section#profile
  break-before: column

nav#toc
  page-break-after: always

  a:after
    content: target-counter(attr(href, url), page, decimal)
    font-size: 16px
    line-height: 16px

section#colophon
  float-reference: column
  float: block-end
  float: column-bottom
  -ah-float: bottom multicol

@page
  size: $page-width $page-height
  bleed: $page-bleed
  margin: 5px
  marks: crop cross

  @bottom-left-corner
    content: " "
    margin-top: 36px
    margin-bottom: - $page-bleed
    margin-left: - $page-bleed
    padding-bottom: $page-bleed
    padding-left: $page-bleed
    background-color: #000000
  @bottom-left
    content: " "
    margin-top: 36px
    margin-bottom: - $page-bleed
    margin-left: -1px
    margin-right: -1px
    padding: 0 1px $page-bleed
    background-color: #000000
  @bottom-right
    content: " "
    margin-top: 36px
    margin-bottom: - $page-bleed
    margin-left: -1px
    margin-right: -1px
    padding: 0 1px $page-bleed
    background-color: #000000
  @bottom-right-corner
    content: " "
    margin-top: 36px
    margin-bottom: - $page-bleed
    margin-right: - $page-bleed
    padding-bottom: $page-bleed
    padding-right: $page-bleed
    background-color: #000000

@page:after
  content: " "
  position: absolute
  background-color: red
  widht: 100px
  height: 100px

@page :right
  margin: 52px 45px 100px 25px

  @bottom-right
    content: counter(page)
    font: $nombre-font
    color: #ffffff

@page :left
  margin: 52px 25px 100px 45px

  @bottom-left
    content: counter(page)
    font: $nombre-font
    color: #ffffff

/*
@-epubx-page-template

  .column-span
    -epubx-flow-into column-span

  .component, .api
    break-inside: avoid

  .page-outer-area
    position: relative

  .pull-right
    left: ($page-margin-outer - $page-margin-inner)

  .pull-left
    left: ($page-margin-inner - $page-margin-outer)

    & > p
      margin: 3mm 0

  .postscript-wrapper
    height: $page-height - $page-margin-top - $page-margin-bottom


@-epubx-page-master

  @-epubx-partition
    -epubx-enabled: '-epubx-expr(page-number % 2 == 0)' % ()
    content: counter(page)
    font: $nombre-font
    bottom: 0
    left: 0
    width: 40px
    height: 20px
    display: block
    text-align: left
    background-color #ff0000
    color: #000000

  @-epubx-partition
    -epubx-enabled: '-epubx-expr(page-number % 2 == 1)' % ()
    content: counter(page)
    font: $nombre-font
    bottom: 0
    right: 0
    width: 40px
    height: 20px
    display: block
    text-align: right
    background-color #ff0000
    color: #000000

  @-epubx-partition body
    -epubx-flow-from: body
    //column-count: 2
    column-width: 60mm
    column-gap: $body-column-gap
    base-page-layout(
      $page-margin-top,
      $page-margin-bottom,
      $page-margin-left,
      $page-margin-right)

  @-epubx-partition column-span
    -epubx-flow-from: column-span
    column-span: all
*/
