@import "../node_modules/normalize.css/normalize.css";
@import "_variable";
@import "_font";
@import "_code";
@import "_counter";
@import "_figure";

:root
  font: $body-font
  line-height: $body-line-height
  color: #000000
  word-break: break-all

strong
  font-weight: 700

h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0
  border-width: 0
  font-weight: 700
  line-height: $header-line-height
  color: $color-header-red

h1
  margin-bottom: 8mm
  font-size: 20pt
h1:not(:first-child)
  margin-top: 8mm

h2
  margin-top: 5mm
  margin-bottom: 1mm
  font-size: 13pt
  border-bottom: 0.5mm solid $color-bg-beige

h3
  margin-top: 5mm
  margin-bottom: 1mm
  font-size: 10pt

h4
  margin-top: 3mm
  font-size: 10pt

p
  margin: 0
  text-align: justify
  text-indent: 1em

p > img:first-child
  position: relative
  left: -1em

a, a:hover, a:focus, a:visited
  color: $color-link-blue
  text-decoration: underline

.clearfix:before
  content: " "
  display: table
  clear: both

code, kbd, pre, samp
  font-family: $code-font-family

figure
  margin: 0

img:not(.emoji)
  display: block
  max-width: 100%
  margin: $image-margin auto
  border-radius: 2px

table
  display: table
  max-width: 100%
  margin: $image-margin auto
  border-collapse: collapse
  th:first-child
    text-align: right
  tr.header
    th
      text-align: center
  th, td
    padding: 1mm 2mm 1mm 0
    &:first-child
      padding-left: 2mm
    background-color: transparent
    border: 0
    border-top: 0.5mm solid $color-header-red
    border-bottom: 0.5mm solid $color-header-red

code
  padding: 0

pre
  position: relative
  padding: 1em 0 1em .8em
  margin: 1em 0
  border: 0
  border-radius: 0.2em
  background-color: $color-bg-beige
  font: $pre-font
  line-height: $pre-line-height
  white-space: pre-wrap
  tab-size: 4
  box-decoration-break: clone

*:not(pre) > code
  color: #555
  font-weight: 700
  margin: 0 0.2em
  padding: 0.1em 0.5em
  border: 0
  border-radius: 0.2em
  background-color: $color-bg-beige

.postscript-wrapper
  display: flex
  flex-direction: column
  justify-content: space-between

  ul.editions
    padding: 0
    list-style: none
    time
      display: inline-block
      width: 10em

  .title
    color: #000000

  table.info
    margin: 0
    width: 100%
    border-top: 2px solid #000000
    border-bottom: 1px solid #000000
    td
      vertical-align: top
      border: 0
      padding-left: 0

@import '_page'

